!!!5
%html
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}

    %title= @site_name

    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/style.css'}

  %body
    .body-liner
      = yield

      .body-liner-foot
        %a{href: app_info['repository']} Full info and usage instructions on GitHub
        %span.version v#{app_info['version']}

    .credit
      Made with 🥖 by
      %a{href: 'https://github.com/companionstudio'} Companion.
