%h1 Instagram Token Agent

.agent-status-display
  %h2
    .ticker
      .a
      .b
      .c
      
    Checking status...

  :javascript
    //Fetch and insert the status info
    (function(){
      var request = new XMLHttpRequest();

      request.open('GET', '/status', true);

      request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
          document.querySelector('.agent-status-display').innerHTML = request.responseText;
        }
      };

      request.send();
    })();

%h3 Usage

%p To use your token, paste the following snippet into your web page:

%pre.snippet
  %code
    &= "<script src='https://#{request.host_with_port}/token.js'></script>"

%p
  Your API token will be available in a global constant called
  %code InstagramToken

%p
  You can also access the token in JSON format at:
  %a{href: "#{request.url}token.json"} #{request.url}token.json
