:root {
  --highlight-color: rgb(255, 200, 34);
  --highlight-text: rgb(77, 103, 117);
  --success-text: rgb(50, 148, 60);
  --error-text: rgb(166, 27, 27);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', Calibri, sans-serif;
}

html {
  color: #333;
  background: #F4F4F4 radial-gradient(#F4F4F4 25%, #DDD 100%);
  font-size: 15px;
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  padding: 1rem 0
}

.body-liner {
  background: #FFF;
  box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
  padding: 2rem;
  max-width: 48rem;
}

.body-liner-foot {
  border-top: 1px solid #DDD;
  font-size: 0.85rem;
  margin-top: 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.body-liner-foot .version {
  color: #808080;
}

h1, h2, h3 {
  margin-bottom: 0.5em;
  line-height: 1.42;
}

h1 {
  border-bottom: 3px solid var(--highlight-color);
  padding-bottom: 0.25em;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  border-top: 2px dotted var(--highlight-color);
  padding-top: 1rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

li, p {
  font-size: 0.9rem;
  line-height: 1.42;
  margin-bottom: 0.6em;
}

code {
  color: var(--highlight-text);
  font-family: monospace;
}

.error-message {
  color: #666;
}

pre.snippet {
  background: #F4F4F4;
  padding: 0.5rem;
  border: 1px solid #DDD;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

ol, ul {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

li {
  margin-bottom: 0.75rem;
}

p {
  margin-bottom: 1rem;
}

a:link {
  color: rgb(32, 94, 175);
}

span.note {
  font-size: 0.9rem;
  color: #777;
  display: block;
}

.credit {
  text-align: right;
  padding: 1rem;
  font-size: 0.8rem;
  max-width: 48rem;
  width: 100%;
  color: #999;
}

.credit a {
  font-weight: bold;
  text-decoration-style: dotted;
}

.credit a:link,
.credit a:visited {
  color: #888;
}

.credit a:focus,
.credit a:hover {
  color: #222;
}
